__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.bank_exch_rate_venv/
.bank_exch_rate_venv*/

.DS_Store
Thumbs.db

*.log
*.sqlite3
*.db
output/
logs/
tmp/

.git/
.gitignore

node_modules/
data/*
!data/
dataset/
*.tar
*.gz

*.env
.env.*
